<a href="https://colab.research.google.com/github/merriekay/F24_CS65/blob/main/Day02_input_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS65: Day02

## User Input and Type Conversion

### CS65: Introduction to Computer Science I | Fall 2024

*Wednesday, September 4th, 2024*

### Helpful Resources:
[üìú Syllabus](https://docs.google.com/document/d/1nqjmD0yhOOh2gaPwxfjV4EY_dBUIQUur1fvqQ4YPJLA/edit?usp=sharing) | [üì¨ CodePost Login](https://codepost.io/login) | [üìÜ Schedule](https://docs.google.com/spreadsheets/d/1Q5-ArPnXwjejKjXSI8WKgF7A2HRAam6Ny3eNA7EHn18/edit?usp=sharing) | [üôã‚Äç‚ôÇÔ∏è PollEverywhere](https://pollev.com/moore) | [ü™¥ Office Hour Sign-Up](https://calendly.com/meredith-moore/office-hours)

> **Note to self:** Make sure you're recording, silly goose!

# Announcements

You should be working on:
- [Lab #1](https://analytics.drake.edu/~moore/CS65-F24/Lab01.html), Due Monday 9/9 by 11:59pm

# Quick Review:
- variables
- assignment statements

# Comments:

__Comments__ are notes of explanation that document lines of code or sections of a program.

Comments are part of the program, but the Python _interpreter_ ignores them.

They are intended for people who may be reading the source code:
- like your professor
- or your teammates

Python comments are denoted with a `#`.

In [ ]:
# this is a comment

print('this is a string') #comments can go after lines of code too
print("this, too, is a string")

this is a string
this, too, is a string

## Multi-line comments

Text that is surrounded by triple quotes (either `'`, or `"`) are also comments:

In [ ]:
# This is a comment

'''This is also a comment
This comment is on multiple lines
'''

"""
Yes
This
is
A
Comment
"""

# Variables:

A __variable__ is a _name_ that represents a value stored in the computer's memory.

Programmers use variables to hold values that might change.

They're kind of like cells in a spreadsheet.

> cell with name B4 has the value of 42, and we can use that value in other computations by reerringto its name.

<div>
<img src="https://github.com/merriekay/CS65-F23/blob/main/images/day01_cell.png?raw=1"/ width=400>
</div>

## Review Question (Polleverywhere)

What will the following code output?

In [ ]:
B4 = 42
B5 = B4 + 10
print(B4)
print(B5)

What will be the output when this code is run?

a. `42 52`

b. `B4 B5`

c. `B4 B4 + 10`

d. None of these

## Review Question (PollEverywhere)

Go to pollev.com/moore to submit your answer to this question:

What is wrong with the following code:

In [ ]:
# what's wrong with this code?
cs65_s0 = 31
20 = cs65_s1
totalCs65 = cs65_s0 + cs65_s1
print("Total CS65 students:", "totalCs65")

# Outputting a variable's value

Don't miss that the print statement will output a _variable's value_ if the variable is between the parentheses.

In [ ]:
value = 34
print(value)

34

# PollEverywhere: A tricky question

What will be the output when the following code is executed?

In [ ]:
my_val = 27.5
print("my_val")

# Printing text and variables together
We've seen printing out text by itself and variables by themselves... What if I want both in the same print statmeent?

You can pass multiple things to `print()` using _commas_ between them.

In [ ]:
num = 5
print("The number is")
print(num)

#all together now:
print("The number is", num)

The number is
5
The number is 5 5 the number is 5

## Another example:

In [ ]:
students = 42
print("There are", students, "students who need to eat lunch.")

There are 42 students who need to eat lunch.

## üí™üèª Exercise:

Which of the following are bad variable names? Why?

- `if`
- `Taxable income`
- `1st_place_award`
- `#cash_prize`
- `seven`
- `X`
- `cupsOfSugar`

## Bad Variable Name Examples:

In [ ]:
cash prize = 34

SyntaxError: invalid syntax (<ipython-input-18-7a2c26bbaa19>, line 1)

In [ ]:
students = 42
print(studnts)

NameError: name 'studnts' is not defined

# Assignment Statements

Code with a `=` is called an __assignment statement__.

You can use an __assignment statement__ to create a variable and make it reference a piece of data (a value).

Examples:

In [ ]:
age = 25
hourly_rate = 15.5
greeting = "hello everyone"

## Assignment Statements have an order

Whatever is on the right side of the `=` will be evaluated and saved to the variable named on the left side.

In [ ]:
students = 42

You can't write it the other way around.

In [ ]:
42 = students

SyntaxError: cannot assign to literal (<ipython-input-27-e94c5307290e>, line 1)

# Expressions

An _expression_ is something evaluated by the Python interpreter:

In [ ]:
num_students = 42
num_adults = 10
total_field_trip_lunches = num_students + num_adults
print("Total field trip lunches:", total_field_trip_lunches)

Total field trip lunches: 52

When `num_students + num_adults` is _evaluated,_ it results in an answer, so it is an __expression__.

Expressions include __operators__ like `+`, and __operands__ like `num_students` and `num_adults`.

<div>
<img src="https://github.com/merriekay/CS65-F23/blob/main/images/day01_operator.png?raw=1"/ width=400>
</div>

## Arithmetic Operators

Python supports all of the arithmetic operators you know and love:
- `( )` parentheses
- `**` exponents
- `*` multiplcation
- `/` division
- `-` subtraction
- `+` addition

PEMDAS order of operations

In [ ]:
val = 6/2*(1+2)
print(val)

In [ ]:
val = 2**6
print(val)

# Exercise: Let's give it a try

1. Open Thonny
2. Create a new File
3. Save it as `Day02Exercise.py`

> You may want to consider putting this inside your CS65 folder.

Create a program that uses a variable and outputs a computation of your choice. Some ideas:
- amount of sugar, flour, butter for cookies
- BMI calculator
- English to metric conversion
- Yield on investments
- Weight on moon formula

Feel free to work with others! I'll leave a few breakout rooms open, if you want to work on your own, say here.

Goals:
- Get comfortable with Thonny
- Make mistakes (and fix them)
- Experiment
- Have fun!

# User Input

Python provides a function called `input` that gets input from the keyboard.

When this function is called, the program _stops and waits_ for the user to type someting.

When the user presses `Return` or `Enter`, the program resumes and `input` returns what the user typed as a string.

In [ ]:
first_name = input("Please enter your first name: ")
last_name = input("Please enter your last name: ")
print("Ahoy, ", first_name, last_name)

Please enter your first name: Meredith
Please enter your last name: Moore
Ahoy,  Meredith Moore

## User Input -- Strings

By default, the value of the variable that results from an input statment is a `String`.

Strings are very useful, but they are limited in that they only hold a sequence of characters.
- As such, you __cannot perform mathematical operations on strings__ or string variables.
- if I want the result of the input function to give me a value that I can use in a calculation, I need to convert the string to a numeric format.

# Numerical Formats:

Python has two main forms of numbers:
- `int` -- short for integer. these are whole nubmers that are not a fraction.
    - examples are 0, 4, 24, -12
- `float` -- floats are numbers with a decimal point. Float is short for 'floating-point' numbers.
    - examples are 1.3, -34.5, 5.0, 0.0

# This will cause an error... Why?

In [ ]:
num_cookies = input("How many cookies would you like to make?")
ratio = num_cookies/48

# `int()` and `float()` for calculations

If you expect the user to type an `integer` or `float`, you can try to convert the return value to int using the `int()` or `float()` function:

In [ ]:
num_cookies = int(input("how many cookies would you like to make? "))
ratio = num_cookies/48
sugar = ratio*1.5
print("you will need", sugar, "cups of sugar.")

how many cookies would you like to make? 38
you will need 1.1875 cups of sugar.

# üí™üèª Exercise:

Update your code from earlier to allow a user to enter a value into your calculation:

# Type

All __data__ has a __type__ which defines what kind of thing it is and what you can do with it.

In [ ]:
num_students = 42 # whole numbers
avg_gas_estimate = 2.7 # numbers with decimal point
print("Hello world!") # text data (strings)

## Type Examples:

`integer`: whole numbers
- 4, 144, -235

`floating point`: numbers with decimal points
- 2.56, -2.4, 5.0

`string`: text data
- "Hello wolrd", "Nice to meet you", "She ate 20 apples"

## The `type()` function

Not sure what the type of a variable is? Python provides an easy way to check the type of any variable or expression, it's called `type()`

In [ ]:
num_dogs = 2
miles_walked_per_day = 1.5
dogs_name = "Zoey"

print(type(num_dogs))
print(type(miles_walked_per_day))
print(type(dogs_name))

<class 'int'>
<class 'float'>
<class 'str'>

## What will be output?

In [ ]:
num_students = 42
avg_gas_estimate = 3.70
print("Hello world!")

print(type(2.70))
print(type(avg_gas_estimate))
print(type(num_students))

# Expressions on Strings:

We've seen how arithmetic operators work on numerical types like ints and floats.

__Strings__ have their own operators too - and some look like arithmetic operators!

In [ ]:
greeting = "Hello"
name = "Professor Moore"
print(greeting + name)

# what do you think will happen?

## How about this one?

In [ ]:
greeting = "Hello"
name = "Professor Moore"
print(greeting + name)

print(greeting - name)

## Other Operations:

The `len` function will output the number of characters that a string has:

In [ ]:
len("Hello")

5

In [ ]:
len("123")

3

In [ ]:
len("The quick brown fox jumped over the lazy dog")

44

## What do you think will happen here?

In [ ]:
val = "32"
print( type(val) )
print( type(len(val)) )

# Other Types

There are several other built-in types that we'll hear morea bout later like:
- `Boolean`: can have one of two values-- `True` or `False`
- `List`: for keeping track of a sequence of values

# Let's build a temperature converter!

The formula for converting Fahrenheit temperatures to Celsius is:

$ C = (F - 32) * \frac{5}{9} $

# Exercise #1:

Create a file called `Temperature.py`

Type in the following code:

In [ ]:
fahrenheit_temp = input("Enter the temperature in Fahrenheit ")
celsius_temp = (fahrenheit_temp - 32) * (5/9)
print("That's", celcius_temp, "in Celsius")

Will it work? Why or why not?

# Converting a string to an integer

Forunately, there's a built-in function we can use to convert something to an integer:
- `int()`

## TemperatureConverterTry2.py

In [ ]:
fahrenheit_temp_str = input("Enter the temperature in Fahrenheit ")
fahrenheit_temp_int = int(fahrenheit_temp_str)

celsius_temp = (fahrenheit_temp_int - 32) * (5/9)
print("That's", celsius_temp, "in Celsius")

Enter the temperature in Fahrenheit 75
That's 23.88888888888889 in Celsius

or... you can do it in one step:

In [ ]:
fahrenheit_temp = int(input("Enter the temperature in Fahrenheit "))
celsius_temp = (fahrenheit_temp - 32) * (5/9)
print("That's", celsius_temp, "in Celsius")

Enter the temperature in Fahrenheit 75
That's 23.88888888888889 in Celsius

## A Tricky Question:

What would happen if the user typed a floating-point value like 72.5?

In [ ]:
fahrenheit_temp_str = int(input("Enter the temperature in Fahrenheit "))
fahrenheit_temp_int = int(fahrenheit_temp_str)
celsius_temp = (fahrenheit_temp_int - 32) * (5/9)
print("That's", celsius_temp, "in Celsius")

## Other Type Conversion Functions

Convert to a floating-point types with `float()`

Convert to a string with `str()`

In [ ]:
fahrenheit_temp_str = float(input("Enter the temperature in Fahrenheit "))
fahrenheit_temp_int = int(fahrenheit_temp_str)
celsius_temp = (fahrenheit_temp_int - 32) * (5/9)
print("That's", celsius_temp, "in Celsius")

Enter the temperature in Fahrenheit 72.5
That's 22.22222222222222 in Celsius

<div>
<img src="https://github.com/merriekay/CS65-F23/blob/main/images/day02_type_conversion.png?raw=1"/ width=800>
</div>

## Let's try something else:

In [ ]:
target_number = 42
# the code below will break, any ideas why?
user_input = int(input("please enter a number larger than", target_number))

In [ ]:
target_number - 42

user_input = int(input("Enter a number greater than " + str(target_number)))

Enter a number greater than 4249

In [ ]:
print( type(False) )
print( type([1,2,3]) )

<class 'bool'>
<class 'list'>

# Lab #1:

[Lab01 Description](https://analytics.drake.edu/~moore/CS65-F24/Lab01.html)

Due Monday 9/9 by 11:59 pm

Four 'exercises' (and 'reflections') that are there to provide a hands-on walkthrough of additional content and experimentation with Python and Thonny.

__Challenge Exercise__ -- this is what you 'hand-in' via CodePost.
- For Lab #1, this is just a simple program that prints out "Hello world!" (note that the capitalization is important).